__pycache__/
*.pyc
project/__pycache__/app.cpython-314.pyc
project/__pycache__/app.cpython-314.pyc
project/__pycache__/data_handler.cpython-314.pyc
project/__pycache__/test_app.cpython-314.pyc
project/__pycache__/test_data_handler.cpython-314.pyc
project/__pycache__/test_recommender.cpython-314.pyc
project/__pycache__/test_visualizer.cpython-314.pyc
project/__pycache__/visualizer.cpython-314.pyc
